body {
    font-family: "Merriweather", serif;
    background-color: #000000;

}

.container-fluid {
    height: 100vh;
}

.bg-light {
    border-right: 1px solid #ccc;
}

#users {
    padding-left: 0;
    /* background-color: #4d4d4d; */
}

#users li {
    text-transform: capitalize;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 10px;
    font-size: 1.2em;
}

#messages-container {
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(196, 196, 196);
}

#messages {
    padding-left: 0;
}

#chat-form {
    margin-top: 20px;
}

#message-input {
    flex-grow: 1;
}

.info-message {
    color: #888;
}

#send-button {
    background-color: rgb(100, 160, 100);
    border: none;
    width: 50%;
    font-size: 1.2em;
    font-weight: 700;
    color: #000;
}


#messages-container {
    height: 100%;
    overflow-y: scroll;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.user-message {
    background-color: #4caf50;
    color: white;
    align-self: flex-start;
}

.other-message {
    background-color: #2196f3;
    color: white;
    align-self: flex-end;
}