body {
    background-color: #24292e;
    color: #fff;
    font-family: "Merriweather", serif;
}

.container-fluid {
    height: 100vh;
}

.bg-light {
    background-color: #588cc0;
}

.h-100 {
    height: 100%;
}

.chat-container {
    display: flex;
    height: 100%;
    color: #000;
}

.users-container {
    flex: 0 0 25%;
    background-color: #336ca5;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
}

.users-container li {
    text-transform: capitalize;
}

.messages-container {
    flex: 1;
    background-color: #c8ceff;
    overflow-y: auto;
    color: #000;
}

#messages {
    color: #000;
}

.message-input {
    border-radius: 0;
    border-top: 1px solid #dee2e6;
}

.send-button {
    border-radius: 0;
}