body {
    font-family: "Merriweather", serif;
    background-color: #000000;
}

.container-fluid {
    height: 100vh;
}

.bg-light {
    border-right: 1px solid #ccc;
}

#users {
    padding-left: 0;
    background-color: #4d4d4d;
}

#users li {
    text-transform: capitalize;
    margin-bottom: 10px;
    background-color: aliceblue;
}

#messages-container {
    flex-grow: 1;
    overflow-y: auto;
    background-color: cadetblue;
}

#messages {
    padding-left: 0;
}

#chat-form {
    margin-top: 20px;
}

#message-input {
    flex-grow: 1;
}

.info-message {
    color: #888;
}